<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
    ================================================== -->
<meta charset="utf-8">
<title>ALTEA One Page Parallax HTML5, CSS3, responsive, Bootstrap website template</title>
<meta name="description" content="ALTEA is a One Page Premium website Template, using nice Paralax effect, HTML5, CSS3 and Twitter Bootstrap Framework">
<meta name="author" content="Little NEKO">
<!-- Mobile Specific Metas
    ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
    ================================================== -->
<!-- Bootstrap  -->
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<!-- web font  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
<!-- plugin css  -->
<link rel="stylesheet" type="text/css" href="js-plugin/animation-framework/animate.css" />
<link rel="stylesheet" href="js-plugin/portfolio/css/styles.css" type="text/css" media="screen" />
<!-- icon fonts -->
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">
<!-- Custom css -->
<link type="text/css" rel="stylesheet" href="css/layout.css">
<link type="text/css" id="colors" rel="stylesheet" href="css/yellow.css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
<script src="js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>
<body data-spy="scroll" data-target="#resMainMenu" data-offset="150">
<!-- Preloader -->
<div id="preloader">
  <div id="status">loading</div>
</div>
<!-- Primary Page Layout 
    ================================================== -->
<!-- globalWrapper -->
<div id="globalWrapper" class="localscroll">
  <!-- header -->
  <header id="mainHeader" class="clearfix">
    <div class="container">
      <div class="row">
        <div class="span12"> <a href="index.html" class="brand"><img src="images/main-logo.png" alt="ALTEA website template"/></a>
          <nav id="resMainMenu" class="scrollMenu">
            <ul class="nav clearfix">
              <li class="active"><a href="#home-artist">Home</a></li>
              <li><a href="#about">about me</a> </li>
              <li><a href="#contact">Contact me</a> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- header -->
  <!-- content -->
  <section class="slice color4" id="home-artist">
    <div class="container">
      <div class="row">
        <div class="span12 text-center">
          <h1 class="bigTitle">Hello, my name is Bond</h1>
          <h2>Welcome to my portfolio</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="row">
          <ul id="og-grid" class="og-grid">
            <li> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_7_1.jpg, images/portfolio2/ill_7_2.jpg, images/portfolio2/ill_7_3.jpg, images/portfolio2/ill_7_4.jpg" data-title="4 faces of joy" data-description="Ipsum commodo in. Mauris eu eros vitae nisi tincidunt dapibus. Vivamus sagittis tellus condimentum gravida tincidunt. Cras porttitor ante leo, eu mattis erat interdum at. Donec non est nibh. Mauris quis varius mi. Suspendisse euismod elit id rutrum adipiscing. Nam consectetur eu justo eu facilisis. Curabitur bibendum viverra lacus vitae pharetra. Cras tristique libero nec lectus imperdiet semper."> <img src="images/portfolio2/v_ill_7.jpg" alt="4 faces of joy"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
            <li> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_2_1.jpg" data-title="Big mouth" data-description="Ipsum commodo in. Mauris eu eros vitae nisi tincidunt dapibus. Vivamus sagittis tellus condimentum gravida tincidunt. Cras porttitor ante leo, eu mattis erat interdum at. Donec non est nibh. Mauris quis varius mi. Suspendisse euismod elit id rutrum adipiscing. Nam consectetur eu justo eu facilisis. Curabitur bibendum viverra lacus vitae pharetra. Cras tristique libero nec lectus imperdiet semper."> <img src="images/portfolio2/v_ill_2.jpg" alt="Big mouth"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
            <li> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_1_1.jpg,images/portfolio2/ill_1_2.jpg,images/portfolio2/ill_1_3.jpg" data-title="Floating island" data-description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum metus sed sapien laoreet faucibus. Donec a turpis lacus.</p><h3>Etiam pharetra vehicula dolor, ut hendrerit</h3> ipsum commodo in. Mauris eu eros vitae nisi tincidunt dapibus. Vivamus sagittis tellus condimentum gravida tincidunt. Cras porttitor ante leo, eu mattis erat interdum at. Donec non est nibh. Mauris quis varius mi. Suspendisse euismod elit id rutrum adipiscing. Nam consectetur eu justo eu facilisis. Curabitur bibendum viverra lacus vitae pharetra. Cras tristique libero nec lectus imperdiet semper."> <img src="images/portfolio2/v_ill_1.jpg" alt="Floating island"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
            <li class="last"> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_4_1.jpg" data-title="Pink dragon" data-description="<h3>Etiam pharetra vehicula dolor, ut hendrerit</h3> ipsum commodo in. Mauris eu eros vitae nisi tincidunt dapibus. Vivamus sagittis tellus condimentum gravida tincidunt. Cras porttitor ante leo, eu mattis erat interdum at. Donec non est nibh. Mauris quis varius mi. Suspendisse euismod elit id rutrum adipiscing. Nam consectetur eu justo eu facilisis. Curabitur bibendum viverra lacus vitae pharetra. Cras tristique libero nec lectus imperdiet semper."> <img src="images/portfolio2/v_ill_4.jpg" alt="Pink dragon"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
            <li> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_5_1.jpg,images/portfolio2/ill_5_2.jpg" data-title="Red monster" data-description="Ipsum commodo in. Mauris eu eros vitae nisi tincidunt dapibus. Vivamus sagittis tellus condimentum gravida tincidunt. Cras porttitor ante leo, eu mattis erat interdum at. Donec non est nibh. Mauris quis varius mi. Suspendisse euismod elit id rutrum adipiscing. Nam consectetur eu justo eu facilisis. Curabitur bibendum viverra lacus vitae pharetra. Cras tristique libero nec lectus imperdiet semper."> <img src="images/portfolio2/v_ill_5.jpg" alt="Red monster"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
            <li> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_6_1.jpg,images/portfolio2/ill_6_2.jpg" data-title="The mouth" data-description="<h3>Etiam pharetra vehicula dolor, ut hendrerit</h3> ipsum commodo in. Mauris eu eros vitae nisi tincidunt dapibus. Vivamus sagittis tellus condimentum gravida tincidunt. Cras porttitor ante leo, eu mattis erat interdum at. Donec non est nibh. Mauris quis varius mi. Suspendisse euismod elit id rutrum adipiscing. Nam consectetur eu justo eu facilisis. Curabitur bibendum viverra lacus vitae pharetra. Cras tristique libero nec lectus imperdiet semper."> <img src="images/portfolio2/v_ill_6.jpg" alt="The mouth"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
            <li> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_3_2.jpg" data-title="Little big king" data-description="Ipsum commodo in. Mauris eu eros vitae nisi tincidunt dapibus. Vivamus sagittis tellus condimentum gravida tincidunt. Cras porttitor ante leo, eu mattis erat interdum at. Donec non est nibh. Mauris quis varius mi. Suspendisse euismod elit id rutrum adipiscing. Nam consectetur eu justo eu facilisis. Curabitur bibendum viverra lacus vitae pharetra. Cras tristique libero nec lectus imperdiet semper."> <img src="images/portfolio2/v_ill_3.jpg" alt="Little big king"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
            <li class="last"> <a class="previewTrigger" href="#" data-largesrc="images/portfolio2/ill_8_1.jpg"  data-title="Fly me to the moon" data-description="Vous avez pour ambition de vendre vos produits ou services en ligne ? Nous avons les moyens et les connaissances pour vous accompagner avec succès dans ce projet. Gestion des stocks, intégration des divers moyens de paiements, suivis des commandes et des livraisons, tout est possible !"> <img src="images/portfolio2/v_ill_8.jpg" alt="Fly me to the moon"/>
              <div class="mask"></div>
              <span class="iconWrapper"><i class="icon-plus"></i></span> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <nav class="arrowsNav"> <a href="#about" class="navDown color4"><i class="icon-down-open"></i></a> <a href="#home-artist" class="navUp color1"><i class="icon-up-open"></i></a> </nav>
  <div id="paralaxSlice11" data-stellar-background-ratio="0.5">
    <div class="paralaxText">
      <div class="iconWrapper iconBig color4"><i class="icon-heart"></i></div>
     <blockquote>I love cute monsters</blockquote>
    </div>
  </div>
  <section class="slice color1" id="about">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>About me</h1>
        </div>
        <div class="span4">
          <blockquote>As my artist’s statement explains, my work is utterly incomprehensible and is therefore full of deep significance</blockquote>
        </div>
        <div class="span4"> <img src="images/theme-pics/artist.jpg" alt="artist"> </div>
        <div class="span4">
          <h2>Few words about me</h2>
          <p>You want a guarantee, buy a toaster. Dyin' ain't much of a livin', boy. You see, in this world there's two kinds of people, my friend: Those with loaded guns and those who dig. You dig. Are you feeling lucky punk This is my gun, Clyde! What you have to ask yourself is, do I feel lucky. Well do ya' punk? Are you feeling lucky punk.</p>
          <p> When a naked man's chasing a woman through an alley with a butcher knife and a hard-on, I figure he's not out collecting for the Red Cross. Well, do you have anything to say for yourself? Dyin' ain't much of a livin', boy. Are you feeling lucky punk </p>
        </div>
      </div>
    </div>
  </section>
  <nav class="arrowsNav"> <a href="#contact" class="navDown color1"><i class="icon-down-open"></i></a> <a href="#about" class="navUp color4"><i class="icon-up-open"></i></a> </nav>
  <div id="paralaxSlice12" data-stellar-background-ratio="0.5">
    <div class="paralaxText">
      <blockquote>I don't do drugs. I am drugs.<br><small>Salvador Dali</small></blockquote>
    </div>
  </div>
  <section class="slice color1"  id="contact" >
    <div class="container">
      <div class="row mb40">
        <div class="span12">
          <h1>Contact me</h1>
        </div>
        <div id="contactSlide">
          <div class="span3"> <a href="" title="" id="mapTriggerLoader">
            <div class="iconWrapper iconBig"> <i class="icon-location"></i> </div>
            <span class="clearfix">Click to see the map</span></a>
            <p>Curabitur turpis orci, gravida non ornare id, venenatis nec enim. Praesent posuere condimentum leo eget volutpat. .</p>
          </div>
          <div class="span6">
            <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm">
              <label for="name"></label>
              <input type="text" name="name" id="name" placeholder="Name"  title="Please enter your name (at least 2 characters)"/>
              <label for="email"></label>
              <input type="email" name="email" id="email" placeholder="Email" title="Please enter a valid email address"/>
              <label for="phone"></label>
              <input name="phone" type="tel" id="phone" size="30" value="" placeholder="Phone" class="required digits" title="Please enter a valid phone number (at least 10 characters)">
              <label for="comments"></label>
              <textarea name="comment" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
              <fieldset class="clearfix securityCheck">
              <legend>Security</legend>
              <div class="row">
                <div class="span6 pull-left humanCheck">
                  <label for="verify" class="pull-left"><img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification"/></label>
                  <input class="required "  id="verify" name="verify" type="text" >
                </div>
              </div>
              </fieldset>
              <br/>
              <div class="result"></div>
              <button name="submit" type="submit" class="btn" id="submit"> Submit</button>
            </form>
          </div>
          <div class="span3">
            <address>
            Address:<br/>
            Himalaya Company<br/>
            77 Mass. Ave., E14/E15<br/>
            Cambridge, MA 02139-4307 USA <br/>
            <br/>
            phone:<br/>
            615.987.1234<br/>
            </address>
          </div>
        </div>
        <div id="mapSlide">
          <div class="span12">
            <div id="mapWrapper"></div>
            <a href="#" title="" id="mapReturn" class="btn btn-small"><i class="icon-left-dir"></i> Back</a> </div>
        </div>
      </div>
    </div>
  </section>
  <nav class="arrowsNav"> <a href="#home-artist" class="navUp color4"> <i class="icon-up-open"></i> </a> </nav>
  <!-- content -->
  <!-- footer -->
  <footer>
    <section id="mainFooter">
      <div class="container" id="footer">
        <div class="row">
          <div class="span12 text-center">
            <div class="blocPhone">
              <div class="iconWrapper color3"><i class="icon-phone"></i></div>
              615.987.1234 </div>
          </div>
          <div class="span12">
            <ul class="socialNetwork">
              <li><a href="#" class="iconWrapper color4 tips icoRss" title="Rss"><i class="icon-rss"></i></a></li>
              <li><a href="#" class="iconWrapper color4 tips icoFacebook" title="Facebook"><i class="icon-facebook"></i></a></li>
              <li><a href="#" class="iconWrapper color4 tips icoTwitter" title="Twitter"><i class="icon-twitter"></i></a></li>
              <li><a href="#" class="iconWrapper color4 tips icoGoogle" title="Google +"><i class="icon-gplus"></i></a></li>
              <li><a href="#" class="iconWrapper color4 tips icoVimeo" title="Vimeo"><i class="icon-vimeo"></i></a></li>
              <li class="last"><a href="#" class="iconWrapper color4 tips icoLinkedin" title="Linkedin"><i class="icon-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="span12"> </div>
        </div>
      </div>
    </section>
  </footer>
  <section  id="footerRights">
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>Copyright © 2012 <a href="http://www.little-neko.com" target="blank">Little NEKO</a> / All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End footer -->
</div>
<!-- global wrapper -->
<!-- End Document 
    ================================================== -->
<script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
<script type="text/javascript" src="js-plugin/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

<!-- third party plugins  -->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-carousel-ie.js"></script>
<script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js-plugin/responsive-nav/responsive-nav.min.js"></script>
<script type="text/javascript" src="js-plugin/portfolio/js/grid.js"></script>
<script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.form.js"></script>
<script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script type="text/javascript" src="js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="js-plugin/parallax/js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="js-plugin/smoothscroll/SmoothScroll.js"></script>

<!-- Custom  -->
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
