<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
    ================================================== -->
<meta charset="utf-8">
<title>ALTEA One Page Parallax HTML5, CSS3, responsive, Bootstrap website template</title>
<meta name="description" content="ALTEA One Page Paralax HTML5, CSS3, responsive, Bootstrap website template">
<meta name="author" content="Little NEKO">
<!-- Mobile Specific Metas
    ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
    ================================================== -->
<!-- Bootstrap  -->
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<!-- web font  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
<!-- plugin css  -->
<link rel="stylesheet" type="text/css" href="js-plugin/animation-framework/animate.css" />
<link rel="stylesheet" type="text/css" href="js-plugin/pretty-photo/css/prettyPhoto.css" />
<link rel="stylesheet" type="text/css" href="js-plugin/flexslider/flexslider.css" />
<!-- icon fonts -->
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">
<!-- Custom css -->
<link type="text/css" rel="stylesheet" href="css/layout.css">
<link type="text/css" id="colors" rel="stylesheet" href="css/orange.css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
<script src="js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>
<body data-spy="scroll" data-target="#mainMenu" data-offset="150" class="corporate">
<!-- Preloader -->
<div id="preloader">
  <div id="status">loading</div>
</div>
<!-- Primary Page Layout 
    ================================================== -->
<!-- globalWrapper -->
<div id="globalWrapper" class="localscroll">
  <!-- header -->
  <header id="mainHeader" class="clearfix">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a href="index.html" class="brand">
          <img src="images/main-logo.png" alt="alteaE website template"/>
          </a>
          <nav id="mainMenu" class="scrollMenu clearfix">
            <ul class="nav clearfix">
              <li class="active">
                <a href="#homeCorpo">
                Home
                </a>
              </li>
              <li>
                <a href="#about">
                About us
                </a>
              </li>
              <li>
                <a href="#services">
                Services
                </a>
              </li>
              <li>
                <a href="#offer">
                Offer
                </a>
              </li>
              <li>
                <a href="#team">
                Team
                </a>
              </li>
              <li>
                <a href="corporate-features.html" class="" >
                Features
                </a>
              </li>
              <li>
                <a href="corporate-blog-home-sidebar-right.html"  >
                Blog
                </a>
              </li>
              <li>
                <a href="#contactSlice">
                Contact
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- header -->
  <!-- main content -->
  <section class="content">
    <section class="clearfix" id="homeCorpo">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="flexslider flexFullScreen mb40 ">
              <ul class="slides">
                <li class="slideN0">
                  <img src="images/slider/flex-slider/corporate-1.jpg" alt="pic 1"/>
                  <div class="caption right">
                    <div class="element1-1 animated" data-animation="fadeInLeftBig">
                      <h1>Altea, Premium One page Website Template</h1>
                    </div>
                    <div class="element1-2 animated" data-animation="fadeInRightBig">
                      <h2> We create digital products and services<br />
                        that make the world a better place</h2>
                    </div>
                    <div class="element1-3  hidden-phone animated" data-animation="fadeInRightBig">
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula, tellus in convallis porta, metus lacus eleifend nisi, eu lobortis nisi magna eu justo. Quisque hendrerit elit ut ante placerat consequat. Donec risus dui, posuere sed suscipit quis, semper non justo. </p>
                    </div>
                    <div class="element1-4 animated" data-animation="fadeInLeftBig">
                      <a href="corporate-blog-post.html" class="btn">
                      Read more
                      </a>
                    </div>
                  </div>
                </li>
                <li class="slideN1">
                  <img src="images/slider/flex-slider/corporate-3.jpg" alt="pic 2"/>
                  <div class="caption left">
                    <div class="element2-1 animated" data-animation="bounceInDown">
                      <h1>Altea is super responsive</h1>
                    </div>
                    <div class="element2-2 animated" data-animation="bounceInDown">
                      <h2><i class="icon-star"></i> Lightweight Bootstrap 960 grid</h2>
                    </div>
                    <div class="element2-3 animated" data-animation="bounceInDown">
                      <h2><i class="icon-star"></i> Looks great on tablets & Smartphones </h2>
                    </div>
                    <div class="element2-4 animated" data-animation="bounceInDown">
                      <a href="http://themeforest.net/item/altea-parallax-one-page-html5-template/5114638?ref=Little-Neko" class="btn">
                      Buy now
                      </a>
                    </div>
                  </div>
                </li>
                <li class="slideN2">
                  <img src="images/slider/flex-slider/corporate-2.jpg" alt="pic 1"/>
                  <div class="caption right">
                    <div class="element3-1" data-animation="fadeInLeftBig">
                      <h1>Altea, Premium Website Template</h1>
                    </div>
                    <div class="element3-2 hidden-phone" data-animation="fadeInRightBig">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula, tellus in convallis porta, metus lacus eleifend nisi, eu lobortis nisi magna eu justo. Quisque hendrerit elit ut ante placerat consequat.</p>
                    </div>
                    <div class="element3-3" data-animation="fadeInRightBig">
                      <a href="corporate-features.html" class="btn">
                      Read more
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="color4">
      <div class="ctaBox ctaBoxFullwidth">
        <div class="container">
          <div class="row">
            <div class="span8">
              <blockquote><span class="highlights">Download now</span> and customize to your needs !<br>
                <small><strong>Altea Bootstrap Website Template</strong> is perfect for simple and clean presentation of your business. It is SEO ready, build on Twitter Bootstrap Framework.</small></blockquote>
            </div>
            <div class="span4">
              <a class="btn btn-large btn-inverse" title="" href="http://themeforest.net/item/altea-parallax-one-page-html5-template/5114638?ref=Little-Neko" target="blank">
              <i class="icon-flash"></i> Get it now!
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="paralaxSlice4" data-stellar-background-ratio="0.5">
      <div class="paralaxText">
        <div class="iconWrapper iconBig">
          <i class="icon-magic"></i>
        </div>
        <div class="iconWrapper iconBig">
          <i class="icon-star"></i>
        </div>
        <div class="iconWrapper iconBig">
          <i class="icon-basket"></i>
        </div>
        <blockquote> Magic for your business</blockquote>
      </div>
    </div>
    <section class="slice" id="about">
      <div class="container">
        <div class="row mb40">
          <div class="span12">
            <h1>About us</h1>
          </div>
          <div class="span6">
            <div class="flexslider flexProject">
              <ul class="slides sliderWrapper">
                <li class="slideN0">
                  <img src="images/slider/flex-slider/infographics-1.png" alt="pic 1"/>
                </li>
                <li class="slideN1">
                  <img src="images/slider/flex-slider/infographics-2.png" alt="pic 2"/>
                </li>
                <li class="slideN2">
                  <img src="images/slider/flex-slider/infographics-3.png" alt="pic 1"/>
                </li>
              </ul>
            </div>
          </div>
          <div class="span6">
            <h2>Free Vector infographics included!</h2>
            <p>And thus, through the serene tranquillities of the tropical sea, among waves whose hand-clappings were suspended by exceeding rapture, Moby Dick moved on, still withholding from sight the full terrors of his submerged trunk, entirely hiding the wrenched hideousness of his jaw. But soon the fore part of him slowly rose from the water; for an instant his whole marbleized body formed a high arch, like Virginia's Natural Bridge, and warningly waving his bannered flukes in the air, the grand god revealed himself, sounded, and went out of sight. Hoveringly halting, and dipping on the wing, the white sea-fowls longingly lingered over the agitated pool that he left.<br />
              With oars apeak, and paddles down, the sheets of their sails adrift, the three boats now stilly floated, awaiting Moby Dick's reappearance. </p>
          </div>
        </div>
      </div>
    </section>
    <section class="color1 slice">
      <div class="container">
        <div class="row ">
          <div class="span6 clearfix">
            <h2>8 colors schemes</h2>
            <div class="one_half">
              <h3>Easy to add your own color</h3>
              <p> At that preluding moment, ere the boat was yet snapped, Ahab, the first to perceive the whale's intent, by the crafty upraising of his head, a movement that loosed his hold for the time; at that moment his hand had made one final effort to push the boat out of the bite. But only slipping further into the whale's mouth, and tilting over sideways as it slipped, the boat had shaken off his hold on the jaw; spilled him out of it, as he leaned to the push; and so he fell flat-faced upon the sea. </p>
            </div>
            <div class="one_half last">
              <h3>Simple to customize!</h3>
              <p>And now, while both elastic gunwales were springing in and out, as the whale dallied with the doomed craft in this devilish way; and from his body being submerged beneath the boat, he could not be darted at from the bows, for the bows were almost inside of him, as it were; and while the other boats involuntarily paused, as before a quick crisis impossible to withstand, then it was that monomaniac </p>
            </div>
          </div>
          <div class="span6">
            <div class="flexslider flexProject">
              <ul class="slides sliderWrapper">
                <li class="slideN0">
                  <img src="images/slider/flex-slider/infographics-4.png" alt="pic 1"/>
                </li>
                <li class="slideN1">
                  <img src="images/slider/flex-slider/infographics-5.png" alt="pic 2"/>
                </li>
                <li class="slideN2">
                  <img src="images/slider/flex-slider/infographics-6.png" alt="pic 1"/>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="arrowsNav">
      <a href="#services" class="navDown color1">
      <i class="icon-down-open"></i>
      </a>
      <a href="#homeCorpo" class="navUp color4">
      <i class="icon-up-open"></i>
      </a>
    </nav>
    <div id="paralaxSlice5" data-stellar-background-ratio="0.5" >
      <div class="paralaxText">
        <blockquote>The hardest thing to understand in the world is the income tax.<br />
          <small>Albert Einstein</small></blockquote>
      </div>
    </div>
    <section class="slice color1" id="services">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Our services</h1>
          </div>
        </div>
        <div class="row">
          <div class="span6 clearfix">
            <div class="boxFeature clearfix">
              <div class="one_third">
                <div class="iconWrapper iconBig color4">
                  <i class="icon-right-hand"></i>
                </div>
              </div>
              <div class="two_thirds last">
                <h2>Consulting & Audit</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet fermentum mi</p>
              </div>
            </div>
          </div>
          <div class="span6 clearfix">
            <div class="boxFeature clearfix">
              <div class="one_third">
                <div class="iconWrapper iconBig color4">
                  <i class="icon-umbrella"></i>
                </div>
              </div>
              <div class="two_thirds last">
                <h2>Cloud Hosting Solutions</h2>
                <p>Sed et enim et erat semper posuere in eu est. Quisque dui ligula, imperdiet ut ligula in.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span6 clearfix">
            <div class="boxFeature clearfix">
              <div class="one_third">
                <div class="iconWrapper iconBig color4">
                  <i class="icon-truck"></i>
                </div>
              </div>
              <div class="two_thirds last">
                <h2>Supply Chain Integration</h2>
                <p>Vestibulum quis leo in sapien vehicula tempor. Maecenas lacinia nisi nisi.</p>
              </div>
            </div>
          </div>
          <div class="span6 clearfix">
            <div class="boxFeature clearfix">
              <div class="one_third">
                <div class="iconWrapper iconBig color4">
                  <i class="icon-signal"></i>
                </div>
              </div>
              <div class="two_thirds last">
                <h2>Systems Management</h2>
                <p>Nullam interdum fermentum dui, sit amet pretium nisl mattis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="arrowsNav">
      <a href="#offer" class="navDown color1">
      <i class="icon-down-open"></i>
      </a>
      <a href="#about" class="navUp color4">
      <i class="icon-up-open"></i>
      </a>
    </nav>
    <div id="paralaxSlice6" data-stellar-background-ratio="0.5" >
      <div class="paralaxText">
        <div class="iconWrapper iconBig color4"><i class="icon-megaphone"></i></div>
        <blockquote class="bigTitle">Good design is good business.</blockquote>
      </div>
    </div>
    <section class="slice color1" id="offer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>our offer</h1>
          </div>
        </div>
        <div class="row mb30">
          <div class="span3">
            <div class="pricingBloc">
              <h2>Free</h2>
              <h3>0$<span>per month</span></h3>
              <ul>
                <li>This is what you get For free</li>
                <li>Not bad, but could be better</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
              </ul>
              <p class="sign">
                <a class="btn" href="#">
                Sign up
                </a>
              </p>
            </div>
          </div>
          <div class="span3">
            <div class="pricingBloc">
              <h2>Silver</h2>
              <h3>10$<span>per month</span></h3>
              <ul>
                <li>This is a little better</li>
                <li>Though</li>
                <li>Not the best plan for you!</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
              </ul>
              <p class="sign">
                <a class="btn" href="#">
                Sign up
                </a>
              </p>
            </div>
          </div>
          <div class="span3">
            <div class="pricingBloc focusPlan">
              <h2>Gold</h2>
              <h3>25$<span>per month</span></h3>
              <ul>
                <li>Honestly, go Premium</li>
                <li>We have a lot</li>
                <li>of cool features for you!</li>
                <li>Really, you will love what you will get</li>
                <li>Come on!!</li>
                <li>Please!!!</li>
              </ul>
              <p class="sign">
                <a class="btn btn-large" href="#">
                Sign up
                </a>
              </p>
            </div>
          </div>
          <div class="span3">
            <div class="pricingBloc">
              <h2>Platinium</h2>
              <h3>40$<span>per month</span></h3>
              <ul>
                <li>This one is super good</li>
                <li>Super awesome</li>
                <li>Just the right plan for you</li>
                <li>If you are</li>
                <li>A super pro!</li>
                <li>No kidding</li>
              </ul>
              <p class="sign">
                <a class="btn" href="#">
                Sign up
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="arrowsNav">
      <a href="#team" class="navDown color1">
      <i class="icon-down-open"></i>
      </a>
      <a href="#offer" class="navUp color4">
      <i class="icon-up-open"></i>
      </a>
    </nav>
    <div id="paralaxSlice7" data-stellar-background-ratio="0.5" >
      <div class="paralaxText">
        <blockquote>Some more business text</blockquote>
      </div>
    </div>
    <section class="slice clearfix" id="team">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Meet our team</h1>
          </div>
        </div>
        <article>
          <div class="row">
            <div class="span3">
              <img src="images/team/pic1.jpg" alt="team altea"></div>
            <div class="span3">
              <h3>Janet DOE</h3>
              <p>C.E.O.</p>
              <a href="#">
              j.doe@altea.com
              </a>
              <ul class="socialTeam">
                <li>
                  <a href="" class="iconWrapper color4 tips icoFacebook" data-original-title="follow me on Facebook">
                  <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="iconWrapper color4 tips icoTwitter" data-original-title="follow me on Twitter">
                  <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="iconWrapper color4 tips icoLinkedin" data-original-title="follow me on Linkedin">
                  <i class="icon-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="span6 skills">
              <h3>skills</h3>
              <h4>Graphic design</h4>
              <div class="progress">
                <div class="bar ninety"></div>
              </div>
              <h4>Html and css</h4>
              <div class="progress">
                <div class="bar seventy"></div>
              </div>
              <h4>Javascript</h4>
              <div class="progress">
                <div class="bar fifty"></div>
              </div>
            </div>
          </div>
        </article>
        <hr>
        <article>
          <div class="row">
            <div class="span3">
              <img src="images/team/pic2.jpg" alt="team altea"></div>
            <div class="span3">
              <h3>Johanna Newsom</h3>
              <p>Salesman</p>
              <a href="#">
              j.newsom@altea.com
              </a>
              <ul class="socialTeam">
                <li>
                  <a href="" class="iconWrapper color4 tips icoFacebook" data-original-title="follow me on Facebook">
                  <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="iconWrapper color4 tips icoTwitter" data-original-title="follow me on Twitter">
                  <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="iconWrapper color4 tips icoLinkedin" data-original-title="follow me on Linkedin">
                  <i class="icon-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="span6 skills">
              <h3>skills</h3>
              <h4>Graphic design</h4>
              <div class="progress">
                <div class="bar ninety"></div>
              </div>
              <h4>Html and css</h4>
              <div class="progress">
                <div class="bar seventy"></div>
              </div>
              <h4>Javascript</h4>
              <div class="progress">
                <div class="bar fifty"></div>
              </div>
            </div>
          </div>
        </article>
        <hr>
        <article>
          <div class="row">
            <div class="span3">
              <img src="images/team/pic3.jpg" alt="team altea"></div>
            <div class="span3">
              <h3>Alexander Doe</h3>
              <p>Graphic designer</p>
              <a href="#">
              j.doe@altea.com
              </a>
              <ul class="socialTeam">
                <li>
                  <a href="" class="iconWrapper color4 tips icoFacebook" data-original-title="follow me on Facebook">
                  <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="iconWrapper color4 tips icoTwitter" data-original-title="follow me on Twitter">
                  <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="iconWrapper color4 tips icoGoogle" data-original-title="follow me on Google +">
                  <i class="icon-gplus"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="span6 skills">
              <h3>skills</h3>
              <h4>Graphic design</h4>
              <div class="progress">
                <div class="bar ninety"></div>
              </div>
              <h4>Html and css</h4>
              <div class="progress">
                <div class="bar seventy"></div>
              </div>
              <h4>Javascript</h4>
              <div class="progress">
                <div class="bar fifty"></div>
              </div>
            </div>
          </div>
        </article>
        <hr>
        <article>
          <div class="row">
            <div class="span3">
              <img src="images/team/pic4.jpg" alt="team altea"></div>
            <div class="span3">
              <h3>Pamela Anderson</h3>
              <p>Programmer</p>
              <a href="#">
              p.anderson@altea.com
              </a>
              <ul class="socialTeam">
                <li>
                  <a href="" class="iconWrapper color4 tips icoTwitter" data-original-title="follow me on Twitter">
                  <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="iconWrapper color4 tips icoLinkedin" data-original-title="follow me on Linkedin">
                  <i class="icon-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="span6 skills">
              <h3>skills</h3>
              <h4>Graphic design</h4>
              <div class="progress">
                <div class="bar seventy"></div>
              </div>
              <h4>Html and css</h4>
              <div class="progress">
                <div class="bar ninety"></div>
              </div>
              <h4>Javascript</h4>
              <div class="progress">
                <div class="bar ninety"></div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section class="slice color4">
      <div class="container">
        <div class="row">
          <div class="span12">
            <img src="images/theme-pics/map.png" alt="altea world map"/>
          </div>
        </div>
      </div>
    </section>
    <section class="slice color1"  id="contactSlice" >
      <div class="container">
        <div class="row mb40">
          <div class="span12">
            <h1>Contact us</h1>
          </div>
          <div id="contactSlide">
            <div class="span3">
              <a href="" title="" id="mapTriggerLoader">
              <div class="iconWrapper iconBig">
                <i class="icon-location"></i>
              </div>
              <span class="clearfix">Click to see the map</span>
              </a>
              <p>Curabitur turpis orci, gravida non ornare id, venenatis nec enim. Praesent posuere condimentum leo eget volutpat. .</p>
            </div>
            <div class="span6">
              <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Name"  title="Please enter your name (at least 2 characters)"/>
                <label for="email"></label>
                <input type="text" name="email" id="email" placeholder="Email" title="Please enter a valid email address"/>
                <label for="phone"></label>
                <input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone" class="required digits" title="Please enter a valid phone number (at least 10 characters)">
                <label for="comments"></label>
                <textarea name="comment" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                <fieldset class="clearfix securityCheck">
                <legend>Security</legend>
                <div class="row">
                  <div class="span6 pull-left humanCheck">
                    <label for="verify" class="pull-left"><img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification"/></label>
                    <input class="required "  id="verify" name="verify" type="text" >
                  </div>
                </div>
                </fieldset>
                <br/>
                <button name="submit" type="submit" class="btn" id="submit"> Submit</button>
              </form>
              <div class="result"></div>
            </div>
            <div class="span3">
              <address>
              Address:<br/>
              Himalaya Company<br/>
              77 Mass. Ave., E14/E15<br/>
              Cambridge, MA 02139-4307 USA <br/>
              <br/>
              phone:<br/>
              615.987.1234<br/>
              </address>
            </div>
          </div>
          <div id="mapSlide">
            <div class="span12">
              <div id="mapWrapper"></div>
              <a href="#" title="" id="mapReturn" class="btn btn-small">
              <i class="icon-left-dir"></i> Back
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!-- end content -->
  <nav class="arrowsNav">
    <a href="#homeCorpo" class="navUp color4">
    <i class="icon-up-open"></i>
    </a>
  </nav>
  <!-- footer -->
  <footer>
    <section id="mainFooter">
      <div class="container" id="footer">
        <div class="row">
          <div class="span3 testimonialWidget">
            <img src="images/footer-logo.png" alt="latest Little Neko news">
            <p>
              <a href="http://www.little-neko.com" title="Little Neko, website template creation">
              Little Neko
              </a>
              is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practises and up-to-date web technologies to create great user experiences. We love what we do and we hope you too ! </p>
          </div>
          <div class="span3 projectWidget">
            <h3><i class="icon-cog"></i>Latest Projects</h3>
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="images/works/footer-work1.jpg" alt="latest Little Neko news">
                </a>
                <div class="media-body">
                  <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="images/works/footer-work2.jpg" alt="latest Little Neko news">
                </a>
                <div class="media-body">
                  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="span3 testimonialWidget2">
            <h3><i class="icon-folder-open"></i> Testimonial </h3>
            <div class="row">
              <div class="span3">
                <div class="bulle bulleBottom color3">
                  <blockquote> When you are courting a nice girl an hour seems like a second. When you sit on a red-hot cinder a second seems like an hour. That's relativity. </blockquote>
                  <div class="arrow"></div>
                </div>
                <div class="clientIcon">
                  <i class="icon-user"></i> Albert Einstein </div>
              </div>
            </div>
          </div>
          <div class="span3 contactWidget">
            <h3><i class="icon-mail-alt"></i> Contact us</h3>
            <address>
            <strong>Little NEKO</strong>
            <p>
              <i class="icon-location"></i>&nbsp;77 Mass. Ave., E14/E15<br>
              Cambridge, MA 02139-4307 USA <br>
              <i class="icon-phone"></i>&nbsp;615.987.1234 <br>
              <i class="icon-mail-alt"></i>&nbsp;
              <a href="mailto:little@little-neko.com">
              little@little-neko.com
              </a>
            </p>
            </address>
            <ul class="socialNetwork">
              <li>
                <a href="#" class="iconWrapper color3 tips icoFacebook" title="Facebook">
                <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="iconWrapper color3 tips icoTwitter" title="Twitter">
                <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="iconWrapper color3 tips icoGoogle" title="Google +">
                <i class="icon-gplus"></i>
                </a>
              </li>
              <li class="last">
                <a href="#" class="iconWrapper color3 tips icoLinkedin" title="Linkedin">
                <i class="icon-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <section  id="footerRights" class="center-text">
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>Copyright © 2012
            <a href="http://www.little-neko.com" target="blank">
            Little NEKO
            </a>
            / All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End footer -->
</div>
<!-- end global wrapper -->
<!-- End Document 
    ================================================== -->
<script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
<script type="text/javascript" src="js-plugin/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
<!-- third party plugins  -->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-carousel-ie.js"></script>
<script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js-plugin/pretty-photo/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js-plugin/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js"></script>
<script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.form.js"></script>
<script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script type="text/javascript" src="js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="js-plugin/parallax/js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="js-plugin/smoothscroll/SmoothScroll.js"></script>
<!-- Custom  -->
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
