<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>ALTEA One Page Paralax HTML5, CSS3, responsive, Bootstrap website template</title>
    <meta name="description" content="ALTEA One Page Paralax HTML5, CSS3, responsive, Bootstrap website template">
    <meta name="author" content="Little NEKO">
<!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="js-plugin/animation-framework/animate.css" />
    <link rel="stylesheet" type="text/css" href="js-plugin/pretty-photo/css/prettyPhoto.css" />


    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
    <link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">


    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="css/layout.css">
    <link type="text/css" id="colors" rel="stylesheet" href="css/orange.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>
<body class="corporate">
<!-- Primary Page Layout 
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper">
        <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="container">
                <div class="row">
                    <div class="span12"> 
                        <a href="index.html" class="brand"><img src="images/main-logo.png" alt="alteaE website template"/></a>
                        <nav id="mainMenu" class="scrollMenu">
                            <ul class="nav clearfix">
                              <li><a href="corporate-index.html" class="" >Home</a> </li>
                              <li><a href="corporate-index.html#about" class="" >About us</a> </li>
                              <li><a href="corporate-index.html#services" class="" >Services</a> </li>
                              <li><a href="corporate-index.html#team" class="" >Team</a> </li>
                              <li><a href="corporate-features.html" class="" >Features</a> </li>
                              <li class="active"><a href="corporate-blog-home-sidebar-right.html"  >Blog</a> </li>
                              <li><a href="corporate-index.html#contactSlice">Contact</a> </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </header>
      <!-- header -->
      <section class="page-header corporateHeader">
        <div class="container">
            <div class="row">
                <div class="span12"><h1 class="bigTitle">The blog</h1></div>
            </div>
        </div>
    </section>
    <!-- main content -->
    <!-- content -->
    <section class="content  blog">
        <div class="container imgHover">
            <div class="row">
                <!-- post list -->
                <div class="span8">
                    <article>
                        <div class="postTitle clearfix">
                            <h2><a href="corporate-blog-post.html"><i class="icon-picture"></i> Sun is shining, the weather is sweet</a></h2>

                        </div>
                        <div class="postPic">
                            <div class="imgWrapper">

                                <img src="images/blog/blog-pic1.jpg" alt=""/>

                                <div class="media-hover">
                                    <div class="mask"></div>
                                    <div class="iconLinks">
                                        <a href="corporate-blog-post.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a>   
                                        <a href="images/blog/blog-pic1.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div class="newsDate">
                                <h4>24</h4>
                                <span>Nov.</span></div>
                            </div>
                            <section>
                                <ul class="entry-meta">
                                    <li class="entry-category"><i class="icon-tag"></i>category</li>
                                    <li class="entry-author"><i class="icon-user"></i>Admin</li>
                                    <li class="entry-comments"><i class="icon-comment"></i>12 comments</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor lacus ac justo varius in vehicula nibh mattis. Aenean ac diam metus. Aliquam tempor tincidunt pretium. Suspendisse bibendum, sapien venenatis vestibulum commodo, eros lectus iaculis magna, sit amet pellentesque ligula turpis a nibh.</p>
                                <p> <a href="corporate-blog-post.html" class="btn btn-small">read more</a> </p>
                            </section>
                        </article>
                        <hr>
                        <article>
                            <div class="postTitle clearfix">
                                <h2><a href="corporate-blog-post.html"><i class="icon-videocam"></i> Make you want to move your dancing feet</a></h2>

                            </div>
                            <div class="postPic">
                                <div class="videoWrapper">
                                    <iframe width="560" height="315" src="http://www.youtube.com/embed/_zCoCa6b6cU" frameborder="0" allowfullscreen></iframe>
                                </div>

                                <div class="newsDate">
                                    <h4>12</h4>
                                    <span>Oct.</span></div>
                                </div>
                                <section>
                                    <ul class="entry-meta">
                                        <li class="entry-category"><i class="icon-tag"></i>category</li>
                                        <li class="entry-author"><i class="icon-user"></i>Admin</li>
                                        <li class="entry-comments"><i class="icon-comment"></i>12 comments</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor lacus ac justo varius in vehicula nibh mattis. Aenean ac diam metus. Aliquam tempor tincidunt pretium. Suspendisse bibendum, sapien venenatis vestibulum commodo, eros lectus iaculis magna, sit amet pellentesque ligula turpis a nibh.</p>
                                    <p> <a href="corporate-blog-post.html" class="btn btn-small">read more</a> </p>
                                </section>
                            </article>
                            <hr>
                            <article>
                                <div class="postTitle clearfix">
                                    <h2><a href="corporate-blog-post.html"><i class="icon-camera"></i> To the rescue, here i am</a></h2>

                                </div>
                                <div class="postPic">
                                    <div class="imgWrapper">
                                        <img src="images/blog/blog-pic2.jpg" alt=""/>
                                        <div class="media-hover">
                                            <div class="mask"></div>
                                            <div class="iconLinks">
                                                <a href="corporate-blog-post.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a>   
                                                <a href="images/blog/blog-pic2.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="newsDate">
                                        <h4>10</h4>
                                        <span>Sep.</span></div>
                                    </div>
                                    <section>
                                        <ul class="entry-meta">
                                            <li class="entry-category"><i class="icon-tag"></i>category</li>
                                            <li class="entry-author"><i class="icon-user"></i>Admin</li>
                                            <li class="entry-comments"><i class="icon-comment"></i>12 comments</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor lacus ac justo varius in vehicula nibh mattis. Aenean ac diam metus. Aliquam tempor tincidunt pretium. Suspendisse bibendum, sapien venenatis vestibulum commodo, eros lectus iaculis magna, sit amet pellentesque ligula turpis a nibh.</p>
                                        <p> <a href="corporate-blog-post.html" class="btn btn-small">read more</a> </p>
                                    </section>
                                </article>
                                <div>
                                    <nav class="pagination">
                                        <ul>
                                            <li><a href="#"><i class="icon-left-open-mini pagLeft"></i>Prev</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">Next<i class="icon-right-open-mini pagNext"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Sidebar -->
                            <aside class="span4">
                                <section>
                                    <h2><i class="icon-flag"></i>About us</h2>
                                    <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                </section>
                                <section class="widget search clearfix">
                                    <form>
                                        <fieldset>
                                            <input type="text" placeholder="Search…">
                                            <button type="submit" class="btn">Submit</button>
                                        </fieldset>
                                    </form>
                                </section>

                                <section class="widget blogUpdates">
                                    <h3>Latest updates</h3>
                                    <ul class="nav nav-tabs " id="myTab">
                                        <li class="active"><a href="#tabs-2" data-toggle="tab"><i class="icon-edit"></i>Latest posts</a></li>
                                        <li><a href="#tabs-1" data-toggle="tab"><i class="icon-comment"></i>Latest comments</a></li>

                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane" id="tabs-1">
                                            <ul class="media-list">
                                                <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/clients/client1.jpg" alt=""> </a>
                                                    <div class="media-body">
                                                        <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                                                    </div>
                                                </li>
                                                <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/clients/client2.jpg" alt=""> </a>
                                                    <div class="media-body">
                                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                                                    </div>
                                                </li>
                                                <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/clients/client3.jpg" alt=""> </a>
                                                    <div class="media-body">
                                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane active" id="tabs-2">
                                            <ul class="iconsList">
                                                <li><a href=""><span>12 Nov 2012</span> This is a post title</a>
                                                    <p>Quisque pharetra felis id orci vestibulum...</p>
                                                </li>
                                                <li><a href=""><span>25 Nov 2012</span> This is another one</a>
                                                    <p>Lorem ipsum dolor sit amet...</p>
                                                </li>
                                                <li><a href=""><span>02 Dec 2012</span> You can add as many you need</a>
                                                    <p>Proin quis nibh at mauris...</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                                <section class="widget">
                                    <h3>Categories</h3>
                                    <ul class="iconsList">
                                        <li><a href="#"><i class="icon-right-open-mini"></i> Solace of a lonely highway</a></li>
                                        <li><a href="#"><i class="icon-right-open-mini"></i> Write with purpose</a></li>
                                        <li><a href="#"><i class="icon-right-open-mini"></i> Tree on a lake</a></li>
                                        <li><a href="#"><i class="icon-right-open-mini"></i> Don’t stop questioning</a></li>
                                        <li><a href="#"><i class="icon-right-open-mini"></i> Overheard this morning</a></li>
                                    </ul>
                                </section>
                                <section class="widget">
                                    <h3>Archives</h3>
                                    <ul class="iconsList">
                                        <li><i class="icon-right-open-mini"></i> <a href="#">March 2012</a></li>
                                        <li><i class="icon-right-open-mini"></i> <a href="#">September 2011</a></li>
                                        <li><i class="icon-right-open-mini"></i> <a href="#">July 2011</a></li>
                                        <li><i class="icon-right-open-mini"></i> <a href="#">June 2011</a></li>
                                    </ul>
                                </section>
                                <section class="widget blogTags">
                                    <h3>Tags</h3>
                                    <ul>
                                        <li><a href="#" class="w2">News</a></li>
                                        <li><a href="#" class="w1">category</a></li>
                                        <li><a href="#" class="w3">business</a></li>
                                        <li><a href="#" class="w3">economy</a></li>
                                        <li><a href="#" class="w1">lolcats</a></li>
                                        <li><a href="#" class="w2">design</a></li>
                                        <li><a href="#" class="w2">Videos</a></li>
                                        <li><a href="#" class="w1">Web</a></li>
                                        <li><a href="#" class="w3">Photos</a></li>
                                        <li><a href="#" class="w2">Music</a></li>
                                    </ul>
                                </section>
                            </aside>
                            <!-- Sidebar -->
                        </div>
                    </div>
                    <!-- blog content -->
                </section>
                <!-- content -->
                <!-- end main content -->
            </section>
            <!-- end content -->
            <!-- footer -->
            <footer>
                <section id="mainFooter">
                  <div class="container" id="footer">
                    <div class="row">
                      <div class="span3 testimonialWidget"> <img src="images/footer-logo.png" alt="latest Little Neko news">
                        <p><a href="http://www.little-neko.com" title="Little Neko, website template creation">Little Neko</a> is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practises and up-to-date web technologies to create great user experiences. We love what we do and we hope you too ! </p>
                    </div>
                    <div class="span3 projectWidget">
                        <h3><i class="icon-cog"></i>Latest Projects</h3>
                        <ul class="media-list">
                          <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/works/footer-work1.jpg" alt="latest Little Neko news"> </a>
                            <div class="media-body">
                              <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                          </div>
                      </li>
                      <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/works/footer-work2.jpg" alt="latest Little Neko news"> </a>
                        <div class="media-body">
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="span3 testimonialWidget2">
            <h3><i class="icon-folder-open"></i> Testimonial </h3>
            <div class="row">
              <div class="span3">
                <div class="bulle bulleBottom color3">
                  <blockquote> When you are courting a nice girl an hour seems like a second. When you sit on a red-hot cinder a second seems like an hour. That's relativity. </blockquote>
                  <div class="arrow"></div>
              </div>
              <div class="clientIcon"> <i class="icon-user"></i> Albert Einstein </div>
          </div>
      </div>
  </div>
  <div class="span3 contactWidget">
    <h3><i class="icon-mail-alt"></i> Contact us</h3>
    <address>
        <strong>Little NEKO</strong>
        <p> <i class="icon-location"></i>&nbsp;77 Mass. Ave., E14/E15<br>
          Cambridge, MA 02139-4307 USA <br>
          <i class="icon-phone"></i>&nbsp;615.987.1234 <br>
          <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:little@little-neko.com">little@little-neko.com</a> </p>
      </address>
      <ul class="socialNetwork">
          <li><a href="#" class="iconWrapper color3 tips icoFacebook" title="Facebook"><i class="icon-facebook"></i></a></li>
          <li><a href="#" class="iconWrapper color3 tips icoTwitter" title="Twitter"><i class="icon-twitter"></i></a></li>
          <li><a href="#" class="iconWrapper color3 tips icoGoogle" title="Google +"><i class="icon-gplus"></i></a></li>
          <li class="last"><a href="#" class="iconWrapper color3 tips icoLinkedin" title="Linkedin"><i class="icon-linkedin"></i></a></li>
      </ul>      
  </div>
</div>
</div>
</section>
</footer>
<section  id="footerRights" class="center-text">
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>Copyright © 2012 <a href="http://www.little-neko.com" target="blank">Little NEKO</a> / All rights reserved.</p>
      </div>
  </div>
</div>
</section>
<!-- End footer -->
</div>
<!-- global wrapper -->
<!-- End Document 
    ================================================== -->
    <script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js-plugin/pretty-photo/js/jquery.prettyPhoto.js"></script>

    <!-- Custom  -->
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
