<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>alteaE HTML5, CSS3, responsive, Bootstrap website template</title>
    <meta name="description" content="alteaE HTML5, CSS3, responsive, Bootstrap website template">
    <meta name="author" content="Little NEKO">

<!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS

    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="js-plugin/animation-framework/animate.css" />
    <link rel="stylesheet" type="text/css" href="js-plugin/pretty-photo/css/prettyPhoto.css" />

    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">

    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
    <link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="css/layout.css">
    <link type="text/css" id="colors" rel="stylesheet" href="css/colors.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="js/modernizr-2.6.1.min.js"></script>

<!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>
<body onLoad="initialize('mapWrapperFullwidth')">

<!-- Primary Page Layout 
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper">
        <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="container">
                <div class="row">
                    <div class="span12"> 
                        <a href="index.html" class="brand"><img src="images/main-logo.png" alt="alteaE website template"/></a>
                        <nav id="mainMenu"  class="scrollMenu">
                            <ul class="nav clearfix">
                                <li>
                                <a href="agency-index.html">Home</a>
                                </li>
                                <li>
                                <a href="agency-index.html#news">News</a>
                                </li>
                                <li>
                                <a href="agency-index.html#services" >Services</a>
                                </li>
                                <li class="active">
                                <a href="agency-index.html#works">Works</a>
                                </li>
                                <li><a href="agency-index.html#team">Team</a>
                                </li>
                                <li>
                                <a href="features.html">Features</a>
                                </li>
                                <li>
                                <a href="blog-home-sidebar-right.html">Blog</a>
                                </li>
                                <li>
                                <a href="agency-index.html#contactSlice">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- header -->
        <header class="page-header blogHeader">
            <div class="container">
                <div class="row">
                    <div class="span12"><h1 class="bigTitle">Portfolio</h1></div>
                </div>
            </div>
        </header>


        <!-- main content -->

        <section class="content"  id="singleProject">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <nav id="projectsNav">
                            <ul class="pager">
                                <li><a href="portfolio-project-fullwidth-carousel.html"><i class="icon-left-open-mini"></i>&nbsp;Previous</a></li>
                                <li><a href="portfolio-project-fullwidth-image.html">Next&nbsp;<i class="icon-right-open-mini"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <section class="mb15 clearfix">
                <div class="container">
                    <div class="row">
                        <div class="span12">

                            <div class="videoWrapper">
                                <iframe src="http://player.vimeo.com/video/30581015?byline=0&amp;color=ff0179" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 

                            </div>
                            <p class="credits">
                                <a href="http://vimeo.com/30581015">Midnight Sun | Iceland</a> from 
                                <a href="http://vimeo.com/scientifantastic">SCIENTIFANTASTIC</a> on 
                                <a href="https://vimeo.com">Vimeo</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="slice color4">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <h3>Watch out this cool video!</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. Sed ac consectetur leo. Pellentesque habitant morbi tristique senectus et netus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. Sed ac consectetur leo. Pellentesque habitant morbi tristique senectus et netus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. Sed ac consectetur leo. Pellentesque habitant morbi tristique senectus et netus...
                            </p>
                        </div>
                        <div class="span2">
                            <h3>Client</h3>
                            <p>Big International Company</p>
                            <h3>Technology</h3>
                            <p>HTML5, CSS3, Bootstrap</p>
                        </div>
                        <div class="span3">
                            <div id="shareme" data-url="http://themeforest.net/item/ohmy-html5-css3-bootstrap-website-template/full_screen_preview/3589661?ref=Little-Neko" data-text="Check out this great #themeforest item 'OHMY! HTML5, CSS3, Bootstrap website template"> </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- works -->
            <section class="slice">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <h2>Other projects in this category</h2>
                        </div>
                        <div class="span12">
                            <div id="projectCarousel" class="carousel imgHover slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <div class="row-fluid">

                                            <div class="span3">
                                                <article class="boxLink boxNew">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign1.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> <a href="portfolio-project-fullwidth-video.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="images/portfolio/vign1.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 1</h3>
                                                        <p>Aspice, officio fungeris</p>
                                                    </section>
                                                    <div class="newBadge">New!</div>
                                                </article>
                                            </div>

                                            <div class="span3">
                                                <article class="boxLink  boxNew">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign2.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="images/portfolio/vign2.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 2</h3>
                                                        <p>Fungeris sine spe</p>
                                                    </section>
                                                    <div class="newBadge">New!</div>
                                                </article>
                                            </div>

                                            <div class="span3">
                                                <article class="boxLink">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign3.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="images/portfolio/vign3.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 3</h3>
                                                        <p>Aspice, officio fungeris</p>
                                                    </section>
                                                </article>
                                            </div>

                                            <div class="span3">
                                                <article class="boxLink">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign4.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="images/portfolio/vign4.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 4</h3>
                                                        <p>Honoris amplioris</p>
                                                    </section>
                                                </article>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row-fluid">
                                            <div class="span3">
                                                <article class="boxLink">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign5.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="images/portfolio/vign5.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 5</h3>
                                                        <p>Aspice, officio fungeris sin</p>
                                                    </section>
                                                    <div class="newBadge">New!</div>
                                                </article>
                                            </div> 

                                            <div class="span3">
                                                <article class="boxLink">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign6.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> <a href="portfolio-project-fullwidth-image.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="images/portfolio/vign6.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 6</h3>
                                                        <p>Officio fungeris</p>
                                                    </section>
                                                </article>
                                            </div>  


                                            <div class="span3">
                                                <article class="boxLink">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign7.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> <a href="portfolio-project-fullwidth-video.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="images/portfolio/vign7.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 7</h3>
                                                        <p>Fungeris sine spe honoris</p>
                                                    </section>
                                                </article>
                                            </div>

                                            <div class="span3">
                                                <article class="boxLink">
                                                    <section class="imgWrapper"> <img alt="" src="images/portfolio/vign8.jpg"> </section>
                                                    <div class="media-hover">
                                                        <div class="mask"></div>
                                                        <div class="iconLinks"> 
                                                            <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="iconWrapper">
                                                                <i class="icon-link"></i>
                                                            </a> 
                                                            <a href="images/portfolio/vign8.jpg" class="prettyPhoto iconWrapper" title="Zoom">
                                                                <i class="icon-search"></i>
                                                            </a> 
                                                        </div>
                                                    </div>
                                                    <section class="boxContent">
                                                        <h3>Project 8</h3>
                                                        <p>Fungeris sine spe honoris</p>
                                                    </section>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control iconWrapper iconMini" href="#projectCarousel" data-slide="prev"><i class="icon-left-open"></i></a> <a class="right carousel-control iconWrapper iconMini" href="#projectCarousel" data-slide="next"><i class="icon-right-open"></i></a> </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- works -->
            </section>


            <!-- footer -->
            <footer>
                <section id="mainFooter">
                    <div class="container" id="footer">
                        <div class="row">
                            <div class="span12 text-center">
                                <div class="blocPhone">
                                    <div class="iconWrapper color3"><i class="icon-phone"></i></div>
                                    615.987.1234 </div>
                                </div>
                                <div class="span12">
                                    <ul class="socialNetwork">
                                        <li><a href="#" class="iconWrapper color4 tips icoRss" title="Rss"><i class="icon-rss"></i></a></li>
                                        <li><a href="#" class="iconWrapper color4 tips icoFacebook" title="Facebook"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="iconWrapper color4 tips icoTwitter" title="Twitter"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#" class="iconWrapper color4 tips icoGoogle" title="Google +"><i class="icon-gplus"></i></a></li>
                                        <li><a href="#" class="iconWrapper color4 tips icoVimeo" title="Vimeo"><i class="icon-vimeo"></i></a></li>
                                        <li class="last"><a href="#" class="iconWrapper color4 tips icoLinkedin" title="Linkedin"><i class="icon-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="span12"> </div>
                            </div>
                        </div>
                    </section>
                </footer>
                <section  id="footerRights">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                               <p>Copyright © 2012 <a href="http://www.little-neko.com" target="blank">Little NEKO</a> / All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End footer -->
            </div>
            <!-- end global wrapper -->
<!-- End Document 
    ================================================== -->
    <script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
    <!-- color switcher -->
    <script type="text/javascript" src="js-plugin/jquery-cookie/jquery.cookie.js"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-carousel-ie.js"></script>
    <script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js-plugin/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js"></script>
    

    <!-- Custom  -->
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
