
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My default starter page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <link data-style="myStylez" href="" rel="stylesheet">

    <link href="css/setup_panel.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>


<div class="setup_panel">
  <div class="setup_ico">
    <img src="img/settings.png" alt="">
  </div>

  <!-- <div class="for_scroll"> -->
    <div id="accordion">
      <h4>1-10</h4>
      <div class="styleChange">
        <p data-style="1stStyle">Style 1</p>
        <p data-style="Style_2">Style 2</p>
        <p data-style="Style_3">Style 3</p>
        <p data-style="Style_4">Style 4</p>
        <p data-style="Style_5">Style 5</p>
        <p data-style="Style_6">Style 6</p>
        <p data-style="Style_7">Style 7</p>
        <p data-style="Style_8">Style 8</p>
        <p data-style="Style_9">Style 9</p>
        <p data-style="Style_10">Style 10</p>

        <!-- <p data-style="resets">Resets</p> -->
        <!-- <p data-style="null">NULL</p> -->

      </div>
      <h4>11-20</h4>
      <div class="styleChange">
        <p data-style="Style_11">Style 11</p>
        <p data-style="Style_12">Style 12</p>
        <p data-style="Style_13">Style 13</p>
        <p data-style="Style_14">Style 14</p>
        <p data-style="Style_15">Style 15</p>
        <p data-style="Style_16">Style 16</p>
        <p data-style="Style_17">Style 17</p>
        <p data-style="Style_18">Style 18</p>
        <p data-style="Style_19">Style 19</p>
        <p data-style="Style_20">Style 20</p>
      </div>
      <h4>21-30</h4>
      <div class="styleChange">
                
        <p data-style="Style_21">Style 21</p>
        <p data-style="Style_22">Style 22</p>
        <p data-style="Style_23">Style 23</p>
        <p data-style="Style_24">Style 24</p>
        <p data-style="Style_25">Style 25</p>
        <p data-style="Style_26">Style 26</p>
        <p data-style="Style_27">Style 27</p>
        <p data-style="Style_28">Style 28</p>
        <p data-style="Style_29">Style 29</p>
        <p data-style="Style_30">Style 30</p>
      </div>
    </div>
  <!-- </div> -->
</div>

    <div class="spacer"></div> <!-- this object is used to make space at the top of the page. You don't have to copy this into your project -->

    <div class="container">

      <div class="row pricing_tbls">
        
        <div class="span3">
          <div class="for_header">
            <h4 class="gr_grey">Basic plan</h4>
            <div class="price">
              <p>$2.99 <span>/month</span> </p>
            </div>
          </div>
          <div class="for_border">
            <p><span>200Mb</span> Monthly traffic </p>
            <p><span>10Gb</span> disk space</p>
            <p><span>5</span> Domains</p>
            <p><span>5</span> Subdomains</p>
            <p>Unlimited email support</p>
            <p>PHP 5 Support</p>
            <p>MySql support</p>
            <p><a class="btn" href="#">Sign Up</a></p>
          </div>
        </div>
                
        <div class="span3">
          <div class="for_header">
            <h4 class="gr_grey">Standard plan</h4>
            <div class="price">
              <p>$6.99 <span>/month</span> </p>
            </div>
          </div>
          <div class="for_border">
            <p><span>400Mb</span> Monthly traffic </p>
            <p><span>20Gb</span> disk space</p>
            <p><span>10</span> Domains</p>
            <p><span>10</span> Subdomains</p>
            <p>Unlimited email support</p>
            <p>PHP 5 Support</p>
            <p>MySql support</p>
            <p><a class="btn" href="#">Sign Up</a></p>
          </div>
        </div>
                
        <div class="span3">
          <div class="for_header">
            <h4 class="gr_grey">Featured plan</h4>
            <div class="price">
              <p>$9.99 <span>/month</span> </p>
            </div>
          </div>
          <div class="for_border">
            <p><span>700Mb</span> Monthly traffic </p>
            <p><span>50Gb</span> disk space</p>
            <p><span>15</span> Domains</p>
            <p><span>20</span> Subdomains</p>
            <p>Unlimited email support</p>
            <p>PHP 5 Support</p>
            <p>MySql support</p>
            <p><a class="btn" href="#">Sign Up</a></p>
          </div>
        </div>
                
        <div class="span3">
          <div class="for_header">
            <h4 class="gr_grey">Deluxe plan</h4>
            <div class="price">
              <p>$19.99 <span>/month</span> </p>
            </div>
          </div>
          <div class="for_border">
            <p><span>3500Mb</span> Monthly traffic </p>
            <p><span>150Gb</span> disk space</p>
            <p><span>30</span> Domains</p>
            <p><span>27</span> Subdomains</p>
            <p>Unlimited email support</p>
            <p>PHP 5 Support</p>
            <p>MySql support</p>
            <p><a class="btn" href="#">Sign Up</a></p>
          </div>
        </div>
        
      </div> <!-- end row -->
      

      <footer>
        <!-- <p>&copy; Company 2012</p> -->
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script src="js/setup.js"></script>
  
    <script type="text/javascript">
      $("#accordion").accordion();
    </script>

  </body>
</html>
